best_v4.pt filter=lfs diff=lfs merge=lfs -text
backend/dinov2_triplet_v2_best.pt filter=lfs diff=lfs merge=lfs -text
backend/yolo26s.pt filter=lfs diff=lfs merge=lfs -text
frontend/src/assets/models/yolo26s_float32.tflite filter=lfs diff=lfs merge=lfs -text
